@CHARSET "ISO-8859-1";
     
@import url('https://fonts.googleapis.com/css?family=Mukta');
body{

  font-family: 'Mukta', sans-serif;
	height:100vh;
	min-height:550px;
	background-color: #454440;
	background-image: url(tollpic.jpg);
	background-repeat: no-repeat;
	background-size:100% 100%;
	background-position:center;
	position:relative;
    overflow-y: hidden;
    
}

ul {
    padding: 0;
    list-style-type: none;
   
}

ul li {
    box-sizing: border-box;
    width: 15em;
    height: 3em;
    font-size: 20px;
    border-radius: 1.5em;
    margin: 0.5em;
    box-shadow: 0 0 1em rgba(0,0,0,0.2);
    color: white;
    font-family: sans-serif;
    text-transform: capitalize;
    line-height: 3em;
    transition: 0.3s;
    cursor: pointer;
    
}

ul li:nth-child(odd) {
    background: linear-gradient(to right, orange, tomato);
    text-align: left;
    padding-left: 10%;
    transform: perspective(500px) rotateY(-20deg);
}

ul li:nth-child(even) {
    background: linear-gradient(to left, orange, tomato);
    text-align: right;
    padding-right: 10%;
    transform: perspective(500px) rotateY(20deg);
}

ul li:nth-child(odd):hover {
    transform: perspective(600px) rotateY(-20deg);
    padding-left: 5%;
}

ul li:nth-child(even):hover {
    transform: perspective(600px) rotateY(20deg);
    padding-right: 5%;
}

h1{
  font-family: "Times New Roman";
  top-padding:80px;
  text-decoration:none;
  color:white;
}
h2{
  font-family: "Times New Roman";
  top-padding:80px;
  text-decoration:none;
  color:#444444;
}
.nav {
  background-color: #fbe405; 
  list-style-type: none;
  text-align: center;
  left:100px;
  margin: 0;
  padding: 20px;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}
div{
	resize: initial;
	overflow: auto;
}
p{
	resize: initial;
	overflow: hidden;
}
 a{
    display:inline-block;
    padding:10px 0;
}

.credit {
    position:absolute;
    bottom:10px;
    left:10px;
    color: #3B3B25;
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 99;
}
a{
  text-decoration:none;
  color:#2c7715;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  
}
