@CHARSET "ISO-8859-1";
     
@import url('https://fonts.googleapis.com/css?family=Mukta');
body{
	-webkit-perspective: 400;
  font-family: 'Mukta', sans-serif;
	height:100vh;
	min-height:550px;
	background-color: #454440;
	background-image: url(tollpic.jpg);
	background-repeat: no-repeat;
	background-size:100% 100%;
	background-position:center;
	position:relative;
    overflow-y: hidden;
    
}
h1{
  font-family: "Times New Roman";
  top-padding:80px;
  text-decoration:none;
  color:white;
}
h2{
  font-family: "Times New Roman";
  top-padding:80px;
  text-decoration:none;
  color:#444444;
}
.nav {
  background-color: #fbe405; 
  list-style-type: none;
  text-align: center;
  left:10%;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}
div{
	resize: initial;
	overflow: auto;
}
p{
	resize: initial;
	overflow: hidden;
}
 a{
    display:inline-block;
    padding:10px 0;
}

.credit {
    position:absolute;
    bottom:10px;
    left:10px;
    color: #3B3B25;
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 99;
}
a{
  text-decoration:none;
  color:#2c7715;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  
}
